Repository TagStudioDev/TagStudio, pull requests merged in 2024-12, with the labels that each got.

#625 fix: [Bug]: Path tests failing on Windows #616
  tagstudio/tests/test_driver.py
  tagstudio/tests/test_library.py
Labels: Type: Bug, Type: Tests, Status: Review Needed

#584 Translations update from Hosted Weblate
  tagstudio/resources/translations/fil.json
Labels: Type: Translation

#547 Added a check to see if the library is loaded in filter_items
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Type: UI/UX

#612 fix: multiple macro errors
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/ts_core.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/tests/macros/test_sidecar.py
Labels: Type: Bug, TagStudio: Library, Priority: Medium, Status: Mergeable

#353 Update Numpy to version 2.1.0
  requirements.txt
Labels: Type: CI

#631 Revert "Update Numpy to version 2.1.0"
  requirements.txt
Labels: Type: Bug, Type: CI

#606 feat: Implement Query lang
  tagstudio/src/core/library/alchemy/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/src/core/query_lang/__init__.py
  tagstudio/src/core/query_lang/ast.py
  tagstudio/src/core/query_lang/parser.py
  tagstudio/src/core/query_lang/tokenizer.py
  tagstudio/src/core/query_lang/util.py
  tagstudio/src/core/utils/dupe_files.py
  tagstudio/src/qt/main_window.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/tag_box.py
  tagstudio/tests/conftest.py
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.json
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.sqlite
  tagstudio/tests/fixtures/search_library/comp colors shapes/r_circle_b_square.png
  tagstudio/tests/fixtures/search_library/comp colors shapes/r_circle_g_square.png
  tagstudio/tests/fixtures/search_library/comp colors shapes/r_circle_o_square.png
  tagstudio/tests/fixtures/search_library/comp colors shapes/r_circle_r_square.png
  tagstudio/tests/fixtures/search_library/comp colors shapes/r_circle_y_square.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/blue.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/blue_circle.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/blue_ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/blue_square.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/circle.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/green.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/green_circle.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/green_ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/green_square.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/orange.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/orange_circle.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/orange_ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/orange_square.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/red.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/red_circle.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/red_ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/red_square.jpg
  tagstudio/tests/fixtures/search_library/inherit colors shapes/shape.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/square.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/yellow.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/yellow_circle.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/yellow_ellipse.png
  tagstudio/tests/fixtures/search_library/inherit colors shapes/yellow_square.png
  tagstudio/tests/macros/test_missing_files.py
  tagstudio/tests/qt/test_qt_driver.py
  tagstudio/tests/test_filter_state.py
  tagstudio/tests/test_library.py
  tagstudio/tests/test_search.py
Labels: Type: Enhancement, Type: QoL, Priority: High, Status: Mergeable, TagStudio: Search

#628 fix: don't allow blank tag alias values in db (Fix #627)
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/qt/widgets/migration_modal.py
Labels: Type: Bug, TagStudio: Library, Priority: High, TagStudio: Tags

#629 fix: use absolute ffprobe path on macos (Fix #511)
  requirements.txt
  tagstudio/src/qt/helpers/vendored/ffmpeg.py
  tagstudio/src/qt/widgets/thumb_renderer.py
Labels: Type: Bug, Type: Installation, Type: UI/UX, Priority: High, System: macOS

#639 chore: update pytest workflow to 24.04
  .github/workflows/pytest.yaml
Labels: Type: Bug, Priority: Critical, Type: CI

#641 fix: preview panel aliases not staying up to date with database
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/tag_box.py
Labels: Type: Bug, Priority: Critical, TagStudio: Tags, Status: Review Needed

#648 fix: stop sqlite db from being updated while running tests
  tagstudio/src/core/library/alchemy/db.py
Labels: Type: Bug, Type: Tests, Priority: High

#633 feat(ui): show filenames in thumbnail grid (Closes #85)
  tagstudio/src/core/enums.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/thumb_renderer.py
Labels: Type: QoL, Type: UI/UX, Priority: Medium, Status: Mergeable

#651 Fix: [bug] Enter/Return not adding top result tag
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: Bug, Type: UI/UX, TagStudio: Tags

#650 Translations update from Hosted Weblate
  tagstudio/resources/translations/de.json
  tagstudio/resources/translations/pl.json
Labels: Type: Translation

#654 Translations update from Hosted Weblate
  tagstudio/resources/translations/da.json
  tagstudio/resources/translations/de.json
  tagstudio/resources/translations/es.json
  tagstudio/resources/translations/fil.json
  tagstudio/resources/translations/fr.json
  tagstudio/resources/translations/hu.json
  tagstudio/resources/translations/it.json
  tagstudio/resources/translations/nb_NO.json
  tagstudio/resources/translations/pl.json
  tagstudio/resources/translations/pt_BR.json
  tagstudio/resources/translations/ru.json
  tagstudio/resources/translations/sv.json
  tagstudio/resources/translations/ta.json
  tagstudio/resources/translations/tok.json
  tagstudio/resources/translations/tr.json
Labels: Type: Translation

#653 Fix: [Bug] "Fix Unlinked Entries" not functioning, only returns None count
  tagstudio/src/qt/modals/fix_unlinked.py
Labels: Type: Bug, TagStudio: Library, Priority: High

#656 fix(#655): search now works again
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/visitors.py
Labels: Type: Refactor, TagStudio: Library, Priority: High, TagStudio: Tags

#649 feat: implement search equivalence of "jpg" and "jpeg" filetypes
  docs/updates/roadmap.md
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/src/core/media_types.py
Labels: Type: Enhancement, Priority: Low, TagStudio: Search

#665 [Bug] Ui: Stop duplicate tag parents
  tagstudio/src/qt/modals/build_tag.py
Labels: Type: Bug, Type: UI/UX, Priority: High, TagStudio: Tags, Status: Review Needed

#662 feat: translations
  tagstudio/resources/translations/en.json
  tagstudio/src/qt/main_window.py
  tagstudio/src/qt/modals/add_field.py
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/delete_unlinked.py
  tagstudio/src/qt/modals/drop_import.py
  tagstudio/src/qt/modals/file_extension.py
  tagstudio/src/qt/modals/fix_dupes.py
  tagstudio/src/qt/modals/fix_unlinked.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/modals/merge_dupe_entries.py
  tagstudio/src/qt/modals/mirror_entities.py
  tagstudio/src/qt/modals/relink_unlinked.py
  tagstudio/src/qt/modals/tag_database.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/platform_strings.py
  tagstudio/src/qt/translations.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/landing.py
  tagstudio/src/qt/widgets/migration_modal.py
  tagstudio/src/qt/widgets/panel.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/progress.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/src/qt/widgets/tag_box.py
  tagstudio/src/qt/widgets/video_player.py
  tagstudio/tests/qt/test_build_tag_panel.py
Labels: Type: Enhancement, Type: Translation, Priority: High, Status: Blocked
