Repository TagStudioDev/TagStudio, pull requests merged in 2024-08, with the labels that each got.

#347 fix: avoid `KeyError` in `add_folders_to_tree()` (fix #346)
  tagstudio/src/qt/modals/folders_to_tags.py
Labels: Type: Bug, Priority: High, TagStudio: Tags

#331 refactor: move type constants to new media classes
  tagstudio/src/core/constants.py
  tagstudio/src/core/media_types.py
  tagstudio/src/qt/widgets/collage_icon.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/thumb_renderer.py
Labels: Type: Refactor, Priority: Medium, Status: Review Needed

#364 Same short and long open option
  tagstudio/tag_studio.py
Labels: Type: Refactor, Priority: Low, Status: Mergeable

#229 Create and activate venv via Nix Flake
  CONTRIBUTING.md
  flake.lock
  flake.nix
Labels: Type: Installation

#262 Add the ability to create tags when adding a tag to a file
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/tag_box.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, TagStudio: Tags, Status: Mergeable

#322 Add Tag Merging
  tagstudio/src/core/library.py
  tagstudio/src/qt/modals/merge_tag.py
  tagstudio/src/qt/widgets/tag.py
Labels: Type: Enhancement, Type: QoL, Priority: Medium, TagStudio: Tags

#410 Fix duplicate removal
  tagstudio/src/core/library.py
Labels: Type: Bug, TagStudio: Library

#390 feat(ui): expanded thumbnail and preview features
  README.md
  requirements.txt
  tagstudio/resources/qt/images/broken_link_icon.png
  tagstudio/resources/qt/images/file_icons/adobe_illustrator.png
  tagstudio/resources/qt/images/file_icons/adobe_photoshop.png
  tagstudio/resources/qt/images/file_icons/affinity_photo.png
  tagstudio/resources/qt/images/file_icons/audio.png
  tagstudio/resources/qt/images/file_icons/document.png
  tagstudio/resources/qt/images/file_icons/file_generic.png
  tagstudio/resources/qt/images/file_icons/font.png
  tagstudio/resources/qt/images/file_icons/image.png
  tagstudio/resources/qt/images/file_icons/image_vector.png
  tagstudio/resources/qt/images/file_icons/material.png
  tagstudio/resources/qt/images/file_icons/model.png
  tagstudio/resources/qt/images/file_icons/presentation.png
  tagstudio/resources/qt/images/file_icons/program.png
  tagstudio/resources/qt/images/file_icons/spreadsheet.png
  tagstudio/resources/qt/images/file_icons/text.png
  tagstudio/resources/qt/images/file_icons/video.png
  tagstudio/resources/qt/images/thumb_border_512.png
  tagstudio/resources/qt/images/thumb_broken_512.png
  tagstudio/resources/qt/images/thumb_file_default_512.png
  tagstudio/resources/qt/images/thumb_loading.png
  tagstudio/resources/qt/images/thumb_loading_512.png
  tagstudio/resources/qt/images/thumb_loading_dark_512.png
  tagstudio/resources/qt/images/thumb_mask_128.png
  tagstudio/resources/qt/images/thumb_mask_512.png
  tagstudio/resources/qt/images/thumb_mask_hl_512.png
  tagstudio/src/core/constants.py
  tagstudio/src/core/enums.py
  tagstudio/src/core/media_types.py
  tagstudio/src/core/palette.py
  tagstudio/src/qt/helpers/color_overlay.py
  tagstudio/src/qt/helpers/file_tester.py
  tagstudio/src/qt/helpers/gradient.py
  tagstudio/src/qt/helpers/rounded_pixmap_style.py
  tagstudio/src/qt/main_window.py
  tagstudio/src/qt/resource_manager.py
  tagstudio/src/qt/resources.json
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/collage_icon.py
  tagstudio/src/qt/widgets/fields.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/tag_box.py
  tagstudio/src/qt/widgets/thumb_button.py
  tagstudio/src/qt/widgets/thumb_renderer.py
Labels: Type: Enhancement, Type: Refactor, Type: QoL, Type: UI/UX, Priority: Medium

#398 fix: correct behavior for tag widget search options
  tagstudio/src/core/library.py
  tagstudio/src/qt/modals/tag_database.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/tag.py
Labels: Type: Bug, Type: UI/UX, Priority: Medium, TagStudio: Tags, TagStudio: Search

#370 Change "show file in explorer" to be different depending on the OS
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/video_player.py
Labels: Type: UI/UX, Priority: Low, Status: Mergeable, System: Windows, System: Linux, System: macOS
