Repository TagStudioDev/TagStudio, pull requests merged in 2025-02, with the labels that each got.

#760 Correct Cagegory to Category in docs/usage.md
  docs/usage.md
Labels: Type: Bug, Type: Documentation

#775 fix(docs): fix image not rendering
  docs/index.md
Labels: Type: Bug, Type: Documentation

#762 Fix: Tag attributes lost when saving using 'Create & Add' modal
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: Bug, Type: UI/UX, Priority: High, TagStudio: Tags

#765 Fix: Error searching for tag containing a colon
  tagstudio/src/core/query_lang/tokenizer.py
Labels: Priority: High, Status: Review Needed, TagStudio: Search

#779 fix: catch `ParsingError`
  tagstudio/resources/translations/en.json
  tagstudio/src/core/library/alchemy/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Priority: Critical, TagStudio: Search

#773 refactor: wrap migration_iterator lambda in a try/except block
  tagstudio/src/qt/widgets/migration_modal.py
Labels: Type: Bug, Type: Refactor, Priority: High

#782 fix: patch incorrect description type & invalid disambiguation_id refs
  tagstudio/src/core/enums.py
  tagstudio/src/core/library/alchemy/fields.py
  tagstudio/src/core/library/alchemy/library.py
Labels: Type: Bug, Priority: Critical, TagStudio: Library, Status: Review Needed

#784 fix(ui): improve "Add Tag" ux
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/src/core/utils/refresh_dir.py
  tagstudio/src/qt/helpers/escape_text.py
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/panel.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/tests/test_library.py
Labels: Type: Bug, Type: Enhancement, Type: Refactor, Type: QoL, Type: UI/UX

#787 fix(ui): hide library actions when no library is open
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Type: UI/UX, Priority: Medium

#792 feat: port file trashing (#409) to v9.5
  requirements.txt
  tagstudio/resources/qt/videos/placeholder.mp4
  tagstudio/resources/translations/en.json
  tagstudio/src/qt/helpers/file_deleter.py
  tagstudio/src/qt/platform_strings.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview/preview_thumb.py
  tagstudio/src/qt/widgets/video_player.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, Priority: High, Type: File System

#791 Added references to alternative POSIX shells, as well as pyenv to CONTRIBUTING.md
  .gitignore
  CONTRIBUTING.md
Labels: Type: Documentation, Priority: Low

#793 fix(ui): expand usage of esc for closing modals
  tagstudio/src/qt/modals/add_field.py
  tagstudio/src/qt/modals/delete_unlinked.py
  tagstudio/src/qt/modals/drop_import.py
  tagstudio/src/qt/modals/fix_dupes.py
  tagstudio/src/qt/modals/fix_unlinked.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/paged_panel/paged_panel.py
  tagstudio/src/qt/widgets/panel.py
  tagstudio/src/qt/widgets/preview/field_containers.py
Labels: Type: Refactor, Type: QoL, Type: UI/UX, Priority: Medium

#794 perf: optimize query methods and reduce preview panel updates
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview/field_containers.py
  tagstudio/src/qt/widgets/tag_box.py
  tagstudio/tests/conftest.py
  tagstudio/tests/qt/test_field_containers.py
  tagstudio/tests/test_library.py
Labels: Type: Refactor, Type: QoL, Priority: High, TagStudio: Search, Type: Performance

#785 Translations update from Hosted Weblate
  tagstudio/resources/translations/da.json
  tagstudio/resources/translations/hu.json
Labels: Type: Translation

#743 feat: add smartcase and globless path searches
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/tests/test_library.py
Labels: Type: Enhancement, Type: QoL, Priority: High, TagStudio: Search, Type: Performance

#799 feat(about): clickable links to docs/discord/etc in about modal
  tagstudio/src/qt/modals/about.py
Labels: Type: Enhancement, Type: UI/UX, Priority: Low

#798 Translations update from Hosted Weblate
  tagstudio/resources/translations/es.json
  tagstudio/resources/translations/fr.json
  tagstudio/resources/translations/hu.json
  tagstudio/resources/translations/nl.json
Labels: Type: Translation, Status: Mergeable

#801 feat(ui)!: user-created tag colors
  tagstudio/resources/translations/en.json
  tagstudio/src/core/constants.py
  tagstudio/src/core/enums.py
  tagstudio/src/core/library/alchemy/default_color_groups.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/qt/modals/build_color.py
  tagstudio/src/qt/modals/build_namespace.py
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/tag_color_manager.py
  tagstudio/src/qt/modals/tag_color_selection.py
  tagstudio/src/qt/modals/tag_database.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/color_box.py
  tagstudio/src/qt/widgets/fields.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/src/qt/widgets/tag_color_label.py
  tagstudio/src/qt/widgets/tag_color_preview.py
Labels: Type: Enhancement, Type: UI/UX, TagStudio: Library, Priority: High, TagStudio: Tags, Status: Mergeable

#803 feat(ui): add language setting
  tagstudio/resources/translations/en.json
  tagstudio/src/core/enums.py
  tagstudio/src/qt/modals/settings_panel.py
  tagstudio/src/qt/translations.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/preview/file_attributes.py
  tagstudio/src/qt/widgets/preview_panel.py
Labels: Type: Enhancement, Type: UI/UX, Type: Translation, Priority: High, Status: Mergeable

#806 Update "Tag Manager" to "Manage Tags" in Documentation
  docs/usage.md
Labels: Type: Documentation

#815 fix: open libraries from v9.5.0-pr1 in newer versions
  docs/updates/schema_changes.md
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/landing.py
  tagstudio/tests/fixtures/empty_libraries/DB_VERSION_6/.TagStudio/ts_library.sqlite
  tagstudio/tests/fixtures/empty_libraries/DB_VERSION_7/.TagStudio/ts_library.sqlite
  tagstudio/tests/fixtures/empty_libraries/DB_VERSION_8/.TagStudio/ts_library.sqlite
  tagstudio/tests/test_db_migrations.py
Labels: Type: Bug, Type: Documentation, Priority: Critical, Type: UI/UX, TagStudio: Library

#820 docs: Fix slight spelling error
  docs/library/tag.md
Labels: Type: Documentation, Status: Mergeable
