Repository TagStudioDev/TagStudio, pull requests merged in 2025-09, with the labels that each got.

#1077 feat: add setting to select splash screen
  src/tagstudio/core/global_settings.py
  src/tagstudio/qt/modals/settings_panel.py
  src/tagstudio/qt/resources.json
  src/tagstudio/qt/splash.py
  src/tagstudio/qt/ts_qt.py
  src/tagstudio/resources/qt/images/splash/95.png
  src/tagstudio/resources/translations/en.json
Labels: Type: Enhancement, Type: Refactor, Type: UI/UX, Status: Mergeable

#1076 Translations update from Hosted Weblate
  src/tagstudio/resources/translations/de.json
  src/tagstudio/resources/translations/es.json
  src/tagstudio/resources/translations/fil.json
  src/tagstudio/resources/translations/fr.json
  src/tagstudio/resources/translations/hu.json
  src/tagstudio/resources/translations/ja.json
  src/tagstudio/resources/translations/nb_NO.json
  src/tagstudio/resources/translations/pl.json
  src/tagstudio/resources/translations/pt.json
  src/tagstudio/resources/translations/pt_BR.json
  src/tagstudio/resources/translations/qpv.json
  src/tagstudio/resources/translations/ru.json
  src/tagstudio/resources/translations/ta.json
  src/tagstudio/resources/translations/tok.json
  src/tagstudio/resources/translations/tr.json
  src/tagstudio/resources/translations/zh_Hans.json
  src/tagstudio/resources/translations/zh_Hant.json
Labels: Type: Translations

#1081 fix: don't flush entire changes when adding tags in bulk
  src/tagstudio/core/library/alchemy/library.py
Labels: Type: Bug, Priority: Critical, TagStudio: Library, TagStudio: Tags

#1082 feat: auto mnemonics
  src/tagstudio/qt/main_window.py
Labels: Type: Enhancement, Type: UI/UX, Type: Translations

#1079 Translations update from Hosted Weblate
  src/tagstudio/resources/translations/hu.json
Labels: Type: Translations

#1094 fix: update SQL_FILENAME to import from new constant
  src/tagstudio/qt/widgets/migration_modal.py
Labels: Priority: Critical, Type: Refactor, TagStudio: Library

#1093 fix: reorder renderer types to fix early false positives
  src/tagstudio/qt/widgets/thumb_renderer.py
Labels: Priority: Medium, Status: Mergeable, Thumbs/Previews

#1084 fix: add option to use old Windows 'start' command
  src/tagstudio/core/global_settings.py
  src/tagstudio/qt/controller/widgets/preview/preview_thumb_controller.py
  src/tagstudio/qt/helpers/file_opener.py
Labels: Type: Bug, Type: Installation, Priority: Low, Type: File System, System: Windows

#1088 feat(ui): add thumb cache size setting to settings panel
  src/tagstudio/core/enums.py
  src/tagstudio/core/global_settings.py
  src/tagstudio/qt/cache_manager.py
  src/tagstudio/qt/modals/settings_panel.py
  src/tagstudio/qt/pagination.py
  src/tagstudio/qt/ts_qt.py
  src/tagstudio/resources/translations/en.json
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, Priority: Medium, Thumbs/Previews

#1104 fix: always show first frame of video; autoplay will always play
  src/tagstudio/qt/mixed/media_player.py
Labels: Type: UI/UX, Thumbs/Previews

#1111 fix: use first file as epub thumbnail instead of the last.
  src/tagstudio/qt/previews/renderer.py
Labels: Type: UI/UX, Thumbs/Previews

#1107 fix: properly delete tag_parents row when deleting tag
  docs/updates/schema_changes.md
  src/tagstudio/core/library/alchemy/constants.py
  src/tagstudio/core/library/alchemy/library.py
  src/tagstudio/qt/mixed/tag_search.py
Labels: Type: Documentation, Priority: Critical, Type: Refactor, TagStudio: Library, TagStudio: Tags

#1118 feat: render .cb7 thumbnails.
  pyproject.toml
  src/tagstudio/qt/previews/renderer.py
Labels: Type: UI/UX, Thumbs/Previews

#1127 fix: respect trailing slash patterns in glob
  src/tagstudio/core/library/ignore.py
Labels: TagStudio: Library, Priority: High, TagStudio: Search

#1134 fix: always hide duration badge on non video ext
  src/tagstudio/qt/mixed/item_thumb.py
Labels: Type: UI/UX, Thumbs/Previews

#1152 fix: toggle play only with left mouse button click
  src/tagstudio/qt/mixed/media_player.py
Labels: Type: UI/UX, Thumbs/Previews
