Repository TagStudioDev/TagStudio, pull requests merged in 2025-01, with the labels that each got.

#670 fix: fix -o flag not working if path has whitespace around it
  tagstudio/src/core/driver.py
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Priority: Low, Status: Mergeable

#673 feat: implement parent tag search
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/tests/test_search.py
Labels: Type: Enhancement, Priority: High, Status: Mergeable, TagStudio: Search

#667 [Bug] Allow files with non latin paths to be opened from preview
  tagstudio/src/qt/helpers/file_opener.py
Labels: Type: Bug, Priority: High, Type: File System

#685 fix: [Bug] Close add tag menu only if no search is present
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: Bug, Type: QoL, Type: UI/UX, Priority: Medium, TagStudio: Tags

#674 feat: Sorting by "Date Added"
  docs/updates/roadmap.md
  tagstudio/resources/translations/en.json
  tagstudio/src/core/library/alchemy/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/main_window.py
  tagstudio/src/qt/ts_qt.py
Labels: Type: Enhancement, Priority: High, TagStudio: Search

#689 docs: add a linux install notice
  docs/install.md
Labels: Type: Bug, Type: Documentation

#690 docs: add a linux install notice to readme
  README.md
Labels: Type: Bug, Type: Documentation

#695 docs: add a linux install notice
  README.md
  docs/install.md
Labels: Type: Bug, Type: Documentation, System: Linux

#677 Translations update from Hosted Weblate
  tagstudio/resources/translations/de.json
  tagstudio/resources/translations/es.json
  tagstudio/resources/translations/hu.json
  tagstudio/resources/translations/zh_Hant.json
Labels: Type: Translation

#655 feat!: tag categories
  README.md
  docs/library/tag_categories.md
  docs/updates/roadmap.md
  docs/usage.md
  tagstudio/resources/translations/en.json
  tagstudio/src/core/constants.py
  tagstudio/src/core/enums.py
  tagstudio/src/core/library/alchemy/db.py
  tagstudio/src/core/library/alchemy/fields.py
  tagstudio/src/core/library/alchemy/joins.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/core/library/alchemy/visitors.py
  tagstudio/src/core/palette.py
  tagstudio/src/core/ts_core.py
  tagstudio/src/qt/main_window.py
  tagstudio/src/qt/modals/add_field.py
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/modals/tag_database.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/collage_icon.py
  tagstudio/src/qt/widgets/fields.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/migration_modal.py
  tagstudio/src/qt/widgets/preview/field_containers.py
  tagstudio/src/qt/widgets/preview/file_attributes.py
  tagstudio/src/qt/widgets/preview/preview_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/src/qt/widgets/tag_box.py
  tagstudio/src/qt/widgets/text.py
  tagstudio/src/qt/widgets/text_box_edit.py
  tagstudio/src/qt/widgets/text_line_edit.py
  tagstudio/src/qt/widgets/thumb_renderer.py
  tagstudio/tests/conftest.py
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.sqlite
  tagstudio/tests/macros/test_sidecar.py
  tagstudio/tests/qt/test_build_tag_panel.py
  tagstudio/tests/qt/test_field_containers.py
  tagstudio/tests/qt/test_preview_panel.py
  tagstudio/tests/qt/test_qt_driver.py
  tagstudio/tests/qt/test_tag_panel.py
  tagstudio/tests/qt/test_tag_widget.py
  tagstudio/tests/test_library.py
  tagstudio/tests/test_search.py
Labels: Type: Enhancement, Type: Refactor, Type: QoL, Type: UI/UX, TagStudio: Library, Priority: High, TagStudio: Tags

#696 feat: Improve performance of Delete Missing Entries function
  tagstudio/src/core/library/alchemy/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/utils/missing_files.py
  tagstudio/src/qt/modals/delete_unlinked.py
Labels: Type: Enhancement, TagStudio: Library, Priority: Medium

#699 refactor: TagDatabasePanel now inherits from TagSearchPanel for code deduplication
  tagstudio/src/qt/modals/tag_database.py
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: Refactor, Type: UI/UX

#679 feat: optimise AND queries
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/visitors.py
Labels: Type: Enhancement, Priority: High, Status: Mergeable, TagStudio: Search

#407 Add Tag Modal: Keyboard nav improvements
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/panel.py
  tagstudio/src/qt/widgets/preview_panel.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, Priority: Medium, Status: Mergeable

#710 Fix: [Bug] Can't Drag Out Multiple Files
  tagstudio/src/qt/widgets/item_thumb.py
Labels: Type: Bug, Type: UI/UX, Priority: Medium

#714 docs: discourage force-pushes on prs that are open for review
  CONTRIBUTING.md
Labels: Type: Documentation

#697 Translations update from Hosted Weblate
  tagstudio/resources/translations/de.json
  tagstudio/resources/translations/fr.json
  tagstudio/resources/translations/hu.json
  tagstudio/resources/translations/sv.json
Labels: Type: Translation, Status: Mergeable

#712 feat: about section
  tagstudio/resources/translations/en.json
  tagstudio/src/qt/modals/about.py
  tagstudio/src/qt/modals/ffmpeg_checker.py
  tagstudio/src/qt/resources.json
  tagstudio/src/qt/ts_qt.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX

#711 Parity: Port create and add from v9.4 to v 9.5
  tagstudio/resources/translations/en.json
  tagstudio/resources/translations/fr.json
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: QoL, Type: UI/UX, Priority: Medium, TagStudio: Tags

#701 fix: don't add default title field, use proper phrasing for adding files
  tagstudio/resources/translations/en.json
  tagstudio/src/core/utils/refresh_dir.py
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Type: Translation, Priority: Medium

#700 fix: preview panel + main window fixes and optimizations
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/item_thumb.py
  tagstudio/src/qt/widgets/preview_panel.py
  tagstudio/src/qt/widgets/tag_box.py
Labels: Type: Bug, Type: QoL, Type: UI/UX, Priority: Medium

#703 feat(ui): add configurable splash screens
  tagstudio/resources/qt/images/splash.png
  tagstudio/resources/qt/images/splash/classic.png
  tagstudio/resources/qt/images/splash/goo_gears.png
  tagstudio/src/qt/resource_manager.py
  tagstudio/src/qt/resources.json
  tagstudio/src/qt/resources.qrc
  tagstudio/src/qt/resources_rc.py
  tagstudio/src/qt/splash.py
  tagstudio/src/qt/ts_qt.py
Labels: Type: UI/UX, Priority: Medium, Status: Mergeable, Status: Blocked

#721 fix: sort tag results
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/modals/tag_search.py
Labels: Type: Bug, Type: QoL, Type: UI/UX, Priority: High, TagStudio: Tags, TagStudio: Search

#729 Fix: [Bug] Open Last library on startup
  tagstudio/src/qt/ts_qt.py
Labels: Type: Bug, Priority: High

#707 fix: restore environment before launching external programs
  tagstudio/src/qt/helpers/file_opener.py
  tagstudio/src/qt/helpers/silent_popen.py
  tagstudio/src/qt/helpers/vendored/ffmpeg.py
  tagstudio/src/qt/helpers/vendored/pydub/audio_segment.py
  tagstudio/src/qt/helpers/vendored/pydub/utils.py
Labels: Type: Installation, Status: Mergeable, System: Windows, System: Linux

#731 Fix: [Bug] Fix add on return
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/preview_panel.py
Labels: Type: UI/UX, Priority: High, TagStudio: Tags

#735 fix: replace calls to `translate_qobject` with `translate_formatted` inside `TagWidget` (Fix #733)
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/tag.py
Labels: Priority: Critical, Type: UI/UX, TagStudio: Tags, Status: Review Needed

#724 fix: have pydub use known ffmpeg+ffprobe locations
  tagstudio/src/qt/helpers/vendored/ffmpeg.py
  tagstudio/src/qt/helpers/vendored/pydub/audio_segment.py
  tagstudio/src/qt/helpers/vendored/pydub/utils.py
  tagstudio/src/qt/modals/ffmpeg_checker.py
  tagstudio/src/qt/widgets/thumb_renderer.py
Labels: Type: Bug, Type: Installation, Type: UI/UX, Priority: High, Status: Review Needed

#709 feat: expanded tag color system
  tagstudio/resources/translations/en.json
  tagstudio/src/core/enums.py
  tagstudio/src/core/library/alchemy/db.py
  tagstudio/src/core/library/alchemy/default_color_groups.py
  tagstudio/src/core/library/alchemy/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/core/palette.py
  tagstudio/src/qt/modals/build_tag.py
  tagstudio/src/qt/modals/folders_to_tags.py
  tagstudio/src/qt/modals/tag_color_selection.py
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/migration_modal.py
  tagstudio/src/qt/widgets/preview/preview_thumb.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/src/qt/widgets/tag_color_preview.py
  tagstudio/tests/conftest.py
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.json
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.sqlite
  tagstudio/tests/qt/test_tag_panel.py
Labels: Type: Enhancement, Type: Refactor, Priority: High, TagStudio: Tags

#726 fix: use tag aliases in tag search
  tagstudio/src/core/library/alchemy/library.py
Labels: Type: Bug, Priority: High, TagStudio: Tags, TagStudio: Search

#736 fix: keep initial id order in `get_entries_full()` (Fix #723)
  tagstudio/src/core/library/alchemy/library.py
Labels: Priority: High, TagStudio: Search

#737 perf: add all new library entries at once
  tagstudio/resources/translations/en.json
  tagstudio/src/core/utils/refresh_dir.py
  tagstudio/src/qt/ts_qt.py
Labels: TagStudio: Library, Priority: High

#727 Translations update from Hosted Weblate
  tagstudio/resources/translations/cs.json
  tagstudio/resources/translations/hu.json
Labels: Type: Translation

#738 fix: always catch db mismatch
  tagstudio/resources/translations/en.json
  tagstudio/src/core/library/alchemy/db.py
  tagstudio/src/core/library/alchemy/library.py
Labels: TagStudio: Library, Priority: High

#720 fix: relink unlinked entry to existing entry without sql error
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/utils/missing_files.py
  tagstudio/tests/test_library.py
Labels: Type: Bug, TagStudio: Library, Priority: High, Status: Mergeable

#739 fix: refactor and fix bugs with missing_files.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/utils/missing_files.py
  tagstudio/src/qt/modals/delete_unlinked.py
  tagstudio/src/qt/modals/fix_unlinked.py
  tagstudio/src/qt/modals/relink_unlinked.py
  tagstudio/src/qt/widgets/preview/preview_thumb.py
  tagstudio/tests/macros/test_missing_files.py
  tagstudio/tests/test_library.py
Labels: Type: Bug, Type: Refactor, TagStudio: Library

#740 feat: add date_created, date_modified, and date_added columns to entries table
  tagstudio/src/core/enums.py
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/core/library/alchemy/models.py
  tagstudio/src/core/utils/refresh_dir.py
  tagstudio/tests/fixtures/search_library/.TagStudio/ts_library.sqlite
Labels: Type: Enhancement, TagStudio: Library, Priority: High

#742 fix(ui): revert all `item_thumb` "pressed" changes (Fix #732)
  tagstudio/src/qt/widgets/item_thumb.py
Labels: Type: Bug, Priority: Critical, Type: UI/UX

#748 fix: check for tag name partiy during JSON migration
  tagstudio/resources/translations/en.json
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/widgets/migration_modal.py
  tagstudio/tests/test_json_migration.py
Labels: Type: Bug, Priority: Critical, TagStudio: Library

#749 ui: shortcut to add tags to selected entries; change click behavior of tags to edit
  tagstudio/resources/translations/en.json
  tagstudio/src/qt/ts_qt.py
  tagstudio/src/qt/widgets/tag_box.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, Priority: High, TagStudio: Tags

#755 fix(ui): restore Windows accent color on PySide 6.8.0.1 (Fix #668)
  tagstudio/src/qt/widgets/thumb_button.py
Labels: Type: Bug, Type: UI/UX

#752 fix(ui): use consistent dark mode colors for all systems
  tagstudio/src/qt/ts_qt.py
Labels: Type: QoL, Type: UI/UX, Priority: High

#756 fix(ui): (mostly) fix right-click search option on tags
  tagstudio/src/qt/modals/tag_search.py
  tagstudio/src/qt/widgets/tag.py
  tagstudio/src/qt/widgets/tag_box.py
Labels: Type: Bug, TagStudio: Tags, TagStudio: Search

#722 feat: copy/paste fields and tags
  tagstudio/resources/translations/en.json
  tagstudio/src/core/library/alchemy/library.py
  tagstudio/src/qt/ts_qt.py
  tagstudio/tests/conftest.py
Labels: Type: Enhancement, Type: QoL, Type: UI/UX, TagStudio: Library, Priority: High, TagStudio: Tags

#746 Translations update from Hosted Weblate
  tagstudio/resources/translations/cs.json
  tagstudio/resources/translations/fr.json
  tagstudio/resources/translations/hu.json
  tagstudio/resources/translations/pl.json
Labels: Type: Translation

#751 chore: bump version to v9.5.0 Pre-Release 1; update docs
  CONTRIBUTING.md
  README.md
  docs/assets/built_tag_shrek.png
  docs/assets/github_header.png
  docs/assets/screenshot.jpg
  docs/assets/screenshot.png
  docs/assets/tag_categories_example.png
  docs/assets/tag_color_selection.png
  docs/assets/tag_disambiguation_example.png
  docs/index.md
  docs/install.md
  docs/library/entry.md
  docs/library/tag.md
  docs/library/tag_categories.md
  docs/updates/roadmap.md
  docs/usage.md
  tagstudio/src/core/constants.py
  tagstudio/src/core/library/json/library.py
Labels: Type: Documentation, Status: Mergeable
